
body {
  background-color: #D0CDC7;
}
.title-container{
  background-color: #2074A3;
  color: #fff;
}
.description-container {
  background-color: #B3E5F8;
  box-shadow: 0 8px 5px #85A9B4 inset; 
}
.about-container, .testimonials-container, .order-container {
  box-shadow: 0 12px 8px #C3C0BA inset;
}
.author-container {
  background-color: #E7E6E3;
  box-shadow: 0 10px 8px #C3C0BA;
}
.samples-container {
  background-color: #B3E5F8;
}
.img-shadow {
  box-shadow: 10px 10px 5px #85A9B4;
  margin: 10px 0 10px 0;
}
.img-numbers{
  float: right;
  margin-right: -15px;
}
.bg-black {
  background-color: #000;
}
.card-color{
  background-color: #00A7E6;
  color: #fff;
  border: 0;
  border-radius: 12px;
}
.logo{
  width: 60px;
}
.author-img{
  width: 100px;
}
.title-img{
  width:80%;
}
.nav-item{
  padding-left: 10px;
  padding-right: 10px;
}
.menu-btn{
  color: #fff!important;
}
.menu-btn:hover{
  background-color: #00A7E6;
}
.menu-btn-order{
  background-color: #FF7805;
  color: #fff!important;
}
.menu-btn-order:hover{
  background-color: #00A7E6;
}
.btn-order{
  background-color: #FF7805;
  font-size: 1.6rem;
  color: #fff;
  padding: 5px;
  border-radius: 13px;
  box-shadow: 8px 8px 5px #C3C0BA;
}
.btn-order:hover{
  background-color: #00A7E6;
  color: #fff;
}
.guarantee-container{
  background-color: #00A7E6;
  color: #fff;
  width: 150px;
  height: 150px;
  box-shadow: 2px 5px 4px #C3C0BA;
}

/* Extra small devices (portrait phones, to 576px) */

@media (max-width: 576px) { 
  .book-img{
    width: 90%;
    padding: 2px;
    border-radius: 2px;
  }
  .btn-order{
    margin-top: 30px;
  }
  .guarantee-container{
    margin: 0 auto;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
  .book-img{
    width: 80%;
    padding: 2px;
    border-radius: 2px;
  }
  .btn-order{
    margin-top: 30px;
  }
  .guarantee-container{
    margin: 0 auto;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  .book-img{
    width: 70%;
    padding: 2px;
    border-radius: 2px;
  }
  .btn-order{
    margin-top: 160px;
    margin-bottom: 60px;
  }
  .guarantee-container{
    margin-top: 50px;
  }
  .about-footer{
    margin-top: -100px;
  }
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .book-img{
    width: 60%;
    padding: 2px;
    border-radius: 2px;
  }
  .btn-order{
    margin-top: 160px;
    margin-bottom: 60px;
  }
  .guarantee-container{
    margin-top: 50px;
  }
  .about-footer{
    margin-top: -100px;
  }
 }
